
*{
  font-family: questa, serif;
  letter-spacing: 0.1234em;
  background:transparent;
}

html{
  background-color: floralwhite;
}

body{
  background: transparent;
}

h1,h2,h3,h4,h5,h6,h1 a, .user-link{
  font-family: minimobold, serif;
  font-size: 1.2em;
  letter-spacing: 0.1234em;
  text-transform: lowercase;
}

h1{
  font-size: 1.4321em;
}

p{
  letter-spacing: initial;
  text-align: justify;
  text-justify: inter-word;
  max-width: 25em;
  text-indent: 0.75em;
  text-overflow: ellipsis;
  word-break: keep-all;
}

a{
  text-decoration: underline;
  cursor: pointer;
  color: black;
}

a.user-link{
  font-size: 1.2em;
  text-decoration: none;
}

a:visited{
  color: black;
}

a:hover{
  text-decoration: underline;
}

ul{
  list-style: none;
}

input[type="text"], textarea{
  max-width: 40em !important;
  border-radius: 0 !important;
}

input[type="radio"], input[type="checkbox"]{
  margin: 0 0.3em;
}

button, input[type="button"], input[type="submit"]{
  max-width: 40em !important;
}

input[type="text"]:focus, textarea:focus, button:focus{
  box-shadow: 0px 0px 3px black;
}

button:focus{
  box-shadow: 0px 0px 5px black;
}

.features ul{
  list-style-type: square;
}

.row{
  padding: 1em;
}

.lover{
  font-size: 0.9em;
  padding: 2em 28em 2em 2em;
  text-align: justify;
  text-justify: inter-word;
}

nav{/*ul removed*/
  float: right;
}

#logo{ /*tentative
  position: fixed;
  top: 41px;
  left: -46px;
  transform: rotate(90deg);*/
}

#calendar{
  max-width: 900px;
  margin: 0 auto;
}

#rating{
  margin-top: 1.75em;
}

#ratingRadios input, #getRidOfTheMeanies input{
  position: relative;
  top: 3px;
}

#subscribePusher{
  height: 350px;
}

.sideAd{
  position: fixed;
  top: 10em;
  right: 1em;
}

.footAd{
  display: none;
}

@media all and (min-width: 992px){
  #filters{
    position: fixed;
  }
  .mobileAd{
    display: none;
  }
}

@media all and (min-width: 992px) and (max-width: 1549px){
  #filters{
    position: fixed;
  }
  .mobileAd{
    display: none;
  }
  .sideAd{
    display: none;
  }
  .footAd{
    display: block;
  }
}

@media all and (max-width: 991px){
  .lover{
    padding: 2em;
  }
  #filters{
    padding: 3.21em;
  }
  .sideAd{
    display: none;
  }
  .footAd{
    display: none;
  }
}
