<div id="confirmationContainer">
    <h3>Your date has been notified regarding your date on {{date}}&#9829;</h3>

    <div id="userAgreement">
      <h3>User agreement:</h3>
      <h4>By going on this date you agree to the following on pain of boot-ment from the site:</h4>
      <h4>You will be kind on your date!</h4>
      <h4>You will not be evil in any way on your date!</h4>
      <h4>You will remember these safety rules from safety.com:</h4>

      <ol>
        <li>When meeting someone for the first time, meet them in a public place instead of having them pick you up at your home</li>
        <li>If possible double date or meet friends out somewhere so you are not alone, and remember to stay only in well lit public places</li>
        <li>Remember that alcohol affects your judgment and keep track of how much you drink if you are drinking -- keep an eye on your drink at all times</li>
        <li>Be cautious throughout the night, and listen to your feelings</li>
        <li>If you feel uneasy about the date you are probably right -- excuse yourself politely and move on</li>
        <li>Before you go somewhere tell a friend where you will be, what time you plan on returning home, and how to contact you if they need to do so</li>
      </ol>

      <h4>Have fun, but be safe!</h4>
    </div>

</div>
