<div>

  <!-- Banner -->
  <section id="banner" class="row">
    <div class="inner">
      <h1>A just-born free dating service where you are unable to say no to a date.</h1>
      <p><small>Pardon our dust as we improve it &#9829;</small></p>
      <p><small>Currently, there are {{userCount}} users.</small></p>
    </div>
  </section>

  <!-- One -->
  <section id="one" class="row">
    <div class="inner">
      <header class="major">
        <h2>You will go on dates.</h2>
        <p>You find someone you like, decide if you want to commit to a date, then do it.
          They don't say no. They always respond. Rate their date the next day.
          If you like each other, schedule another date through us.</p>
      </header>
    </div>
  </section>

  <!-- Two -->
  <section id="two" class="row">
    <section class="spotlight">
      <div class="content">
        <h2>No images.</h2>
        <p>Images aren't needed. We remove every major discriminator for both parties.</p>
      </div>
    </section>
    <section class="">
      <div class="content">
        <h2>You don't say no to a date. No one does.</h2>
        <p>We want you to go on an actual date. Many dates. This service was created of the same frustration with the numbers game.</p>
      </div>
    </section>
    <section>
      <div class="content">
        <h2>You can get booted from the service.</h2>
        <p>If you say no to a date or take a date for granted, you could get a boot.</p>
        <p>Three boots and you are out. Be a nice date and you will date a lot.</p>
      </div>
    </section>
    <section class="">
      <div class="content">
        <h2>You schedule dates through this site.</h2>
        <p>A date should be reasonably scheduled within a 3 month time period. You are on their time, and as such expect to be polite.</p>
      </div>
    </section>
  </section>

  <!-- Three -->
  <section id="three" class="row style3 special">
    <section>
      <div class="inner">
        <header class="major">
          <h2>Social experiment</h2>
          <p>Nono dating is a social experiment that started with an idea that there should be no discrimination.
            We remove images from the equation and allow you to focus on one another's story. It's all text.</p>
        </header>
        <ul class="features">
          <li class="icon fa-paper-plane-o">
            <h3>Quickly get dates</h3>
            <p>You set the date through our interface with the click of a button. Read, find one you like, and date them.</p>
          </li>
          <li class="icon fa-laptop">
            <h3>Schedule a date</h3>
            <p>We might be called a dating club. Our application lets you schedule a date with another willing partner anytime within the next 3 months.</p>
          </li>
          <li class="icon fa-code">
            <h3>Negotiate the date</h3>
            <p>Decide what you would like to do with them, and show up.</p>
          </li>
          <li class="icon fa-headphones">
            <h3>Rate the date</h3>
            <p>Everyone on their best behavior spells a good time.</p>
          </li>
        </ul>
      </div>
    </section>
    <section>
      <h2>No fine print</h2>
      <p><strong>Free but be safe.</strong></p>
        <p>Seems legit. It's a dating club. Free social experiment. Other than this it's common sense:
          be nice and you will have a wonderful sustained dating experience throughout your membership.
        Be a neanderthal and you get quickly booted from a good thing.</p>
      <p>Cancellation is easy, just send us a message from within the interface that you would like to do so.</p>
    </section>
    <section class="row subscribe col-md-9 col-sm-12">
      <h1>Join the mailing list!</h1>
      <!-- Begin MailChimp Signup Form -->
      <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
      <style type="text/css">
      @media all{
        #mc_embed_signup div.mce_inline_error { background-color: black; }
        #mc-embedded-subscribe{
          position: relative;
          top: -1.321em;
        }
      }
      @media screen and (min-width: 600px){}
        /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
           We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
      </style>
      <div id="mc_embed_signup">
      <form action="//github.us10.list-manage.com/subscribe/post?u=e3ccb3f0eeb4aa6341390a026&amp;id=4631c0e95a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">

      <div class="mc-field-group">
        <label for="mce-EMAIL">Email Address
      </label>
        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
      </div>
        <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;"><input type="text" name="b_e3ccb3f0eeb4aa6341390a026_4631c0e95a" tabindex="-1" value=""></div>
          <div class="clear"><a class="hvr-skew" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">subscribe<a/></div>
          </div>
      </form>
      </div>
      <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
      <!--End mc_embed_signup-->
    </section>
  </section>
</div>
