
<div class="" id="itineraryContainer">
  <div class="col-lg-10 col-lg-offset-2">
    <div class="lover row" ng-repeat="date in dates">
      <h3>{{date.date}}</h3>
      <ul class="lover-stats">
        <li><strong>date giver: lover #{{date.giver}}</strong></li>
        <li><strong>date asker: lover #{{date.asker}}</strong></li>

        <li>was the date good? <a id="dateGood">yes</a> <a id="dateNotGood">no</a></li>
        <li>was the date nice? <a id="dateGood">yes</a> <a id="dateNotGood">no</a></li>
        <li>did the date return contact? <a id="dateGood">yes</a> <a id="dateNotGood">no</a></li>
        <li>did the date show up? <a id="dateGood">yes</a> <a id="dateNotGood">no</a></li>
        <hr />
        <li>send a quick message to this user (for instance suggest a place to go):</li>
        <li><form><input type="text" ng-model="messages"></input><button ng-click="saveMessage(date.romantic_date_id)">save</button></form></li>
        <li ng-bind="messages">{{message}}</li>
      </ul>
    </div>
  </div>
</div>
