
<div class="" id="itineraryContainer">
  <div class="col-lg-8 col-lg-offset-5">
    <div class="lover row" ng-repeat="date in dates">
      <h3>{{date.date_start}}</h3>
      <ul class="lover-stats">
        <hr />
        <li>date giver: lover #{{date.giver}}</li>
        <li>date asker: lover #{{date.asker}}</li>
        <hr />
        <li>was the date good? <a id="dateGood">yes</a> <a id="dateNotGood">no</a></li>
        <hr />
        <li>send a quick message to this user:</li>
        <li><form><input type="text" ng-model="messages"></input></form></li>
        <li ng-bind="messages" ng-click="saveMessage(date.giver,date.asker)">{{message}}</li>
      </ul>
    </div>
  </div>
</div>
