<div id="ratingContainer">
  <h3 class="row col-lg-4">How did your date go?</h3>
  <div id="rating" class="row col-lg-8">
    <h4>Rate your date:</h4>
    <form>
      <div id="ratingRadios" >
        <input type="radio" name="rating" >really mean</input>
        <input type="radio" name="rating" >mean</input>
        <input type="radio" name="rating" >nice</input>
        <input type="radio" name="rating" >really nice</input>
        <input type="radio" name="rating" >really, really nice</input>
      </div>
      <div id="getRidOfTheMeanies">
        <h4>Were they...</h4>
        <ul>
          <li><input type="checkbox" name="mean" />mean?</li>
          <li><input type="checkbox" name="noEmail" />didn't answer your email?</li>
          <li><input type="checkbox" name="noShow" />not there?</li>
          <li><input type="checkbox" name="noShow" />Should we boot them?
            (if you checked most of the above then <a href="#" ng-href="/contact">definitely let us know.</a>)</li>
        </ul>
      </div>
    </div>
  </form>
</div>
