<section>
  <div><form action="localhost/nono/#/selection"><button>test paypal</button></form></div>
  <!--<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <div>
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="YZJZM2REVV3K6">
      <button type="submit" class="btn form-control" name="submit" alt="PayPal - The safer, easier way to pay online!">
        subscribe to nono.dating on paypal
      </button>
      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </div>
  </form>-->
</section>
